$main: #282c34;
$scheme-main: #282c34;
$background: #282c34;
$border: #121212;

//   yeet scrollbars
::-webkit-scrollbar {
	display: none; // Safari and Chrome
	display: none; // Safari and Chrome
}

* {
	-ms-overflow-style: none; // Internet Explorer 10+
	// -ms-overflow-style: none; // Internet Explorer 10+
	scrollbar-width: none; // Firefox
}

html {
	background: $main;
}

.wrapper {
	// the navbar should always be 50px tall. this is static in src/components/navigation/navBar.js
	margin: 50px 15vw;
	@media screen and (max-width: $medium) {
		margin: 50px 5vw;
	}
}
